body {
  background-image: url("../../../assets/images/abstract-bluish-paint-background-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  //   height: 85vh;
}

.login {
  display: flex;
  margin: 2rem;

  &__form {
    width: 50%;
  }

  &__image {
    width: 50%;
  }
  &__img {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
  }
}
