$bg-color: #1b2431;
$light-text: #738297;
$dark-text: #262b44;
$light-bg: #313d4f;
$blue-text: #62bcee;

$form-bg: #273142;
$main: #4f6d9bc4;
$import-form-bg:#273142c9;
$import-main: #1ab188;
$white: #ffffff;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);
$gray-light: #a0b3b0;
$gray: #ddd;


$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width: 320px;
$primary-black: #13182c;
$primary-indigo: #2e66e5;
$primary-white: #ffffff;
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
$background-graphite: #232940;
$background-grey: #f7f8f9;
$support-green: #158463;
$support-red: #c94515;

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width: 320px;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
