@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.header {
    background-color: #1b2431;
  &__list {
    width: calc(100% - 2rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;

    @include tablet {
      width: calc(100% - 4rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      // width: 80vw;
    }
  }

  &__logo-container {
    display: flex;
    justify-content: center;
  }

  &__logo {
    object-fit: contain;
    height: 70px;
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      visibility: hidden;
    }
  }

  &__users-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $light-bg;
    color: $blue-text;
    border: none;
    height: 2.25rem;
    width: 50vw;
    @include font-mobile-llb;

    &.active {
      background-color: $dark-text;
      color: white;
    }

    &:hover {
      color: white;
      // text-decoration: underline;
    }

    @include tablet {
      font-size: 18px;
      height: 2.375rem;
      padding: 0 1rem;
      width: unset;
    }
  }
}
