.sidebar {
  height: 88vh;
  background-color: #383839;



  &__main{
    width: 35%;
    max-width: 300px;
  }

  &__ul {
    padding-top: 2rem;
    > * {
      margin: 10px 0;
    }
  }

  &__text {
    color: white;
    padding: 10px;
    font-size: x-large;
  }

  &__name{
    color: white;
    padding: 10px;
    font-size: medium;
  }

  &__icon {
    color: white;
  }

  &--active {
    background-color: rgb(155, 36, 36);
    padding: 10px;
  }

  &__link{
    display: block;
    text-align: center;
    font-size: x-large;
  }

  &__user{
    margin: 18px;
  }

}
