.apps {
  width: 80%;
  margin: 2rem;
  background-color: white;
  padding-left: 1rem;
  border-radius: 10px;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app-card {
  //   width: 25%;
  background-color: black;
  width: 20%;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    transform: scale(1.08);
  }

  &__img {
    display: block;
    // width: 7rem;
    width: 100%;

    &-wrapper {
      width: 100%;
    }
  }
}
